*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#832388,#E3436B);
    color: #fff;
}

.container  > h1 {
    text-align: center;
     padding-top: 1.7rem;
     font-size: 40px;
    font-family: 'Open Sans',
    sans-serif;
    
 }

.content {
   margin-top: 3rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.content .current-word{
    font-size: 70px;
    text-align: center;
}

.content > p {
  font-size: 20px;
  margin-top: 20px;
}
span{
    color: red;
}

#word-input{
    margin-top: 2rem;
    height: 2.7rem;
    width: 27rem;
    padding-left: 30px;
    font-size: 17px;
}



#message{
    margin-top:1rem;
    color: red;
}

.minute{

    margin-top: 2rem;
    background: rgba(0,0,0,0.4);
    padding: 3rem 4rem;
}

 #score {
    color: green;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.minute p {
    margin-top: 40px;
    line-height: 30px;
   
}


@media(max-width: 470px) {

    #word-input {
        margin-top: 2rem;
        height: 2.7rem;
        width: 23rem;
        padding-left: 30px;
        font-size: 17px;
    }

    .minute {
    
        margin-top: 2rem;
        background: rgba(0, 0, 0, 0.4);
        padding: 1rem 4rem;
    }
}

@media(max-width: 380px) {
    .content .current-word {
        font-size: 50px;
        text-align: center;
    }

        #word-input {
            margin-top: 2rem;
            height: 2.7rem;
            width: 20rem;
            padding-left: 30px;
            font-size: 17px;
        }
}

@media(max-width: 340px) {
    .content .current-word {
        font-size: 50px;
        text-align: center;
    }

    #word-input {
        margin-top: 2rem;
        height: 2.7rem;
        width: 19rem;
        padding-left: 30px;
        font-size: 17px;
    }
}


